<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Multi Form</title>
    <link rel="stylesheet" href="master.css">
  </head>
  <body>
    <div class="container">
      <header>Login Form</header>
      <div class="progress-bar">
        <div class="step">1</div>
        <div class="step">2</div>
        <div class="step">3</div>
        <div class="step">4</div>
      </div>
      <div class="form-outer">
        <form class="" action="" method="post">
          <div class="page">
            <div class="title">title</div>
            <div class="field">
              <div class="label">First Name</div>
              <input type="text" name="" value="">
            </div>
            <div class="field">
              <div class="label">First Name</div>
              <input type="text" name="" value="">
            </div>
            <div class="field">
              <button>Next</button>
            </div>
          </div>

          <div class="page">
            <div class="title">Contact Info:</div>
            <div class="field">
              <div class="label">Email Address</div>
              <input type="text" name="" value="">
            </div>
            <div class="field">
              <div class="label">Phone Number</div>
              <input type="text" name="" value="">
            </div>
            <div class="field">
              <button class="prev-1 prev">Previous</button>
              <button class="next-1 next">Next</button>
            </div>
          </div>

          <div class="page">
            <div class="title">Personal Data:</div>
            <div class="field">
              <div class="label">Date of Birth</div>
              <input type="text" name="" value="">
            </div>
            <div class="field">
              <div class="label">Gender</div>
              <select>
                <option value="">Male</option>
                <option value="">Female</option>
                <option value="">Other</option>
              </select>
            </div>
            <div class="field">
              <button class="prev-2 prev">Previous</button>
              <button class="next-2 next">Next</button>
            </div>
          </div>

          <div class="page">
            <div class="title">Login Details:</div>
            <div class="field">
              <div class="label">Username</div>
              <input type="text" name="" value="">
            </div>
            <div class="field">
              <div class="label">Password</div>
              <input type="password" name="" value="">
            </div>
            <div class="field">
              <button class="prev-3 prev">Previous</button>
              <button class="next-3 next">Next</button>
            </div>
          </div>


        </form>
      </div>

    </div>

  </body>
</html>
