{% extends 'base.html' %}
{% load static %}
{% block title %} Plan Questions {% endblock %}

{% block extra_css %}
<link href="{% static 'css/register.css' %}" rel="stylesheet">

{% endblock extra_css %}


{% block extra_js %}
<!-- https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js -->
<script src="{% static 'js/registration.js' %}"></script>
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script>
$( "#txtNumber" ).keyup(function() {
  if($('#txtNumber').val()<65){
      $('#errorMsg').show();
  }
  else{
  $('#errorMsg').hide();
  }
  });
</script>
{% endblock extra_js %}

{% block banner %}
{% endblock banner %}

{% block content %}
<section class="banner">
    <div class="callbacks_container">
        <ul class="rslides" id="slider3">
            <li>
                <div class="slider-info bg1">
                    <div class="container2" style="padding-top:9vw;">
                      <div class="col-md-6 ">
                        <form id="msform" method="post">{% csrf_token %}
                          <!-- fieldsets -->

                          {{ formset.management_form }}

                          {% for form in formset %}
                            <fieldset>
                              {% for hidden in form.hidden_fields %}
                              <h2 class="fs-title">{{ hidden }}</h2>
                              {% endfor %}
                                {% if form.instance.type == 1 %}
                                  <h3 class="fs-subtitle" style="font-size: 20px;">{{form.instance.text}}</h3>
                                  <span id="errorMsg" style="display:none; color:red;">
                                    <h3 class="fs-subtitle" style="color:red;">Retirement age must be greater than 65</h3>
                                  </span>
                                  <div class="col-md-12" id="question-{{form.instance.id}}">
                                    {% for option in form.answer %}
                                      <p class="fs-subtitle" style="">{{option}}</p>
                                    {% endfor %}
                                  </div>
                                {% elif form.instance.type == 2 %}
                                  <h3 class="fs-subtitle" style="font-size: 20px;">{{form.instance.text}}</h3>
                                  <span id="errorMsg" style="display:none; color:red;">
                                    <h3 class="fs-subtitle" style="color:red;">Retirement age must be greater than 65</h3>
                                  </span>
                                  <div class="col-md-12" id="question-{{form.instance.id}}">
                                      {{ form.answer }}
                                  </div>
                                {% endif %}


                              <!-- <input type="number" id="txtNumber" name="retirement" min="65" placeholder="Retirement age" required/> -->
                              {% if forloop.counter == 1 %}
                                <input type="button" name="next" class="next action-button" value="Next"/>
                              {% elif forloop.counter < formset.forms|length %}
                                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                                <input type="button" name="next" class="next action-button" value="Next"/>
                              {% elif forloop.counter == formset.forms|length %}
                                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                                <input type="submit" name="submit" class="btn action-button" value="Submit"/>
                              {% endif %}
                            </fieldset>

                          {% endfor %}

                          {% comment %}
                            <fieldset>
                                <h2 class="fs-title"></h2>
                                <h3 class="fs-subtitle" style="font-size: 20px;">What's your ideal retirement age?</h3>
                                <span id="errorMsg" style="display:none; color:red;">
                                  <h3 class="fs-subtitle" style="color:red;">Retirement age must be greater than 65</h3>
                                </span>
                                <input type="number" id="txtNumber" name="retirement" min="65" placeholder="Retirement age" required/>
                                <input type="button" name="next" class="next action-button" value="Next"/>
                            </fieldset>

                            <fieldset>
                                <h2 class="fs-title"></h2>
                                <h3 class="fs-subtitle" style="font-size: 20px;">Do you want to include a spouse in your plan?</h3>
                                <div class="row">
                                  <div class="col-md-6">
                                    <input type="radio" name="spouse" id="RadioYes" placeholder="" value="Yes" required/>
                                    <label class="fs-subtitle" for="RadioYes">Yes</label>
                                  </div>
                                  <div class="col-md-6">
                                    <input type="radio" name="spouse" id="RadioNo"  placeholder="" value="No" required/>
                                    <label class="fs-subtitle" for="RadioNo">No</label>
                                  </div>
                                </div>
                                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                                <input type="button" name="next" class="next action-button" value="Next"/>
                            </fieldset>

                            <fieldset>
                              <h2 class="fs-title"></h2>
                              <h3 class="fs-subtitle" style="font-size: 20px;">How old are you?</h3>
                              <span id="AgeErrorMsg" style="display:none; color:red;">
                                <h3 class="fs-subtitle" style="color:red;">You must be between 18 and 65 to create a plan</h3>
                              </span>
                              <input type="number" id="AgeNumber" name="age" min="18" placeholder="Age" required/>
                              <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                              <input type="submit" name="submit" class="submit action-button" value="Submit"/>
                            </fieldset>
                          {% endcomment %}


                      </form>
                      </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

{% endblock content %}

{% comment %}
{% endcomment %}
