{% extends 'base.html' %}
{% load static %}
{% block title %} About Us {% endblock %}

{% block banner %}
<!-- inner-banner -->
<section class="banner-1">
</section>
<!-- //inner-banner -->
{% endblock banner %}

{% block content %}
<!-- about -->
<section class="welcome py-5">
  <div class="container py-md-4 mt-md-3">
    <h2 class="heading-agileinfo">About Us <span>Why GCOSFinance Stands For You</span></h2>
    <span class="w3-line black"></span>
    <div class="row about-tp mt-md-5 pt-5">
      <div class="col-lg-6 welcome-left">
        <h3>Welcome</h3>
        <h4>
          We are striving to build the world’s most condusive place, with safe and secured future for everyone.
        </h4>
        <p>
          Our goal is to achieve this, through the culture of planing for positive impacts on our clients,
          partners, shareholders, competitors and everyone else who we come in contact with.
        </p>
        <h4>
          We are charged with the mission of providing you with the world’s most actionable financial planning experience to suit, any life endeavour you find your self in.
        </h4>
        <p>
          we firmly believe in the values that places human life above any other imaginable.
          Our vision is to continually up the standard of excellence by being innovative,
          financially strong, and exceeding our customers expectations on all sides.
        </p>
      </div>
      <div class="col-lg-6 welcome-right">
        <div class="welcome-right-top">
          <img src="{% static 'images/g1.jpg' %}" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //about -->

<!-- w3layouts_bottom -->
<section class="banner-2">
  <div class="container">
  <div class="row">
    <div class="col-lg-9 w3layouts_getin_info">
      <h3>Secure Your Slot Now</h3>
    </div>
    <div class="col-lg-3 w3layouts_getin">
      <a href="{% url 'contact' %}">Contact Us</a>
    </div>
  </div>
</div>
</section>
<!-- //w3layouts_bottom -->

<!-- about-team -->

<section class="welcome py-5">
  <div class="container py-md-4 mt-md-3">
    <h2 class="heading-agileinfo"><span>Meet Our Resource Person</span></h2>
    <span class="w3-line black"></span>
    <div class="row about-tp mt-md-5 pt-5">
      <div class="col-lg-4 welcome-right">
        <div class="welcome-right-top">
          <img src="{% static 'images/gcos1.jpeg' %}" alt="" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-8 welcome-left">
        <h3>Goodness C. Okwueze</h3>

          <!-- Your resource guide to financial freedom! <h4></h4> -->

        <p style="text-align:justify;">
          Goodness Chimaobi Okwueze is a scrum master (servant leader),
          she also serves as a Personal Support Worker (PSW) in Canada,
          her current place of residence. She was born into a business-oriented family in Nigeria
          and is honored to be able to socialize with people of different ethnicity,
          religious orientation, and works of life, just like in Canada.
          This leadership attribute allows her to manage and advise all kinds of people.
          Goodness holds a Bachelor's degree in the field of Nursing Science.
        </p>

        <p style="text-align:justify;">
          As a growing child, Goodness had the privileged of learning the shared values of her parents in the area of financial responsibility.
          Being exposed to her dad's investments at the time helped her to understand the importance of investing in shares and stocks as her father would always fall back to them in challenging times.
        </p>
        <p style="text-align:justify;">
          Goodness' interest in the field of financial freedom, further propelled her into learning more from experts and world recognized organizations. Currently, she earns higher income while continuing her studies in this field, and is happy to work with families and individuals on the best ways to help them stabilize their finances.
        </p>


      </div>

    </div>
  </div>
</section>
<!-- //about-team -->
{% endblock content %}
